{% extends "base/home.html" %}
{% block body_block %}





<div class="contact">
    <h1>About Us</h1>
    <br>
    <h3> Email us: plasmapal@gmail.com </h3>
    <br>
    <h4>With PlasmaPal, you can donate your plasma to those in need, or find someone to who can donate you lifesaving plasma!
        PlasmaPal was founded after getting a text from our friend about how she was looking for COVID-19
        recovered patients who could donate plasma as it could help save her mother's life.
        This was very heartbreaking, so we made this platform to connect those individuals.</h4>



</div>
<style>
  .contact{
      border: 3px solid #890b0b;
      border-radius: 10px;
    line-height: 1.8;
    text-indent: 5px;
    letter-spacing: 3px;
    font-family: 'roboto', sans-serif;
    position: relative;
    z-index:40;
    background: white;
    max-width: 750px;
    margin:  auto ;
    padding: 50px;
    margin-top:100px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

  }

</style>
{% endblock %}
