{% extends "base/home.html" %}
{% block body_block %}





<div class="contact">
    <h1>About Us</h1>
    <br>

    <br>
    <h3> Email us: plasmapal@gmail.com </h3>
    <br>
    <h4>We decided to make PlasmaPal to help individuals save lives. After getting a text from our friend about how she was looking for a COVID-19
        recovered patient's plasma as it could help save her mother's life.
        This was very heartbreaking, so we came up with this idea to connect those individuals on a platform meant to save lives.
        With PlasmaPal, you can donate your plasma to those in need, or find someone to who can donate you lifesaving plasma!</h4>



</div>
<style>
  .contact{
      line-height: 1.8;
    text-indent: 5px;
    letter-spacing: 3px;
    font-family: 'roboto', sans-serif;
    position: relative;
    z-index:40;
    background: #707bb185;
    max-width: 500px;
    margin:  auto ;
    padding: 50px;
    margin-top:100px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

  }

</style>
{% endblock %}
