{% extends "base/home.html" %}
{% block body_block %}





<div class="form">
  {% if registered %}
    <h1>Thank you for registering!</h1>
    {% else %}
    <h1>Register Here</h1>
    <br>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{user_form.as_p}}
      {{profile_form.as_p}}
      <br>
      <input id="button" type="submit" name="" value="Register">

    </form>

  {% endif %}
</div>
<style>
  .form{
      line-height: 1.8;
    letter-spacing: 3px;
    font-family: 'MuseoModerno', sans-serif;
    position: relative;
    z-index:1;
    background: #707bb185;
    max-width: 50%;
    margin:  auto ;
    padding: 8%;
    margin-top:100px;
    text-align:justify;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border: 7px solid #e0414b;
    border-radius: 25px;
  }
  #button{
    color: black;
    font-size: 1.5em ;
    text-decoration: none;
    padding: 5px;
    border-radius:10px;
    background:none;
  }
  #button:hover,#button:active{
    border: 3px solid #f74c4c;
    border-radius: 10px;
  }


</style>
{% endblock %}
