{% extends "base/home.html" %}
{% block body_block %}
<div class="request">
{% if request %}
<h3>Requests:</h3>
<br>
<table border=1px id = "table">
  <thead>
      <th><h3>Name</h3></th>
      <th><h3>Email</h3></th>
      <th><h3>Phone Number</h3></th>
      <th><h3>State</h3></th>
  </thead>
  {% for x in request %}
  <tr>
    <td>{{x.user}}</td>
    <td>{{x}}</td>
    <td>{{x.phone_number}}</td>
    <td>{{x.resident_state}}</td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>No patients found. We will contact you if you have a request!</p>
{% endif %}
<style>
        table {
        border-collapse: collapse;
        margin: auto;
        }

        table, th, td {
        padding:15px;
        border: 2px solid black;
        text-align: center;
        }
        .request{
          line-height: 1.8;
          font-family: 'Roboto', sans-serif;
          position: relative;
          z-index:1;
          background: #707bb185;
          max-width: 50%;
          margin:  auto ;
          padding: 2%;
          margin-top:100px;
          text-align: center;
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
          border: 7px solid #e0414b;
          border-radius: 25px;
        }

        @media screen and (max-width:768px) {
          .request{
            max-width: 100%;
            margin-top:100px;
            text-align: center;
          }



        }
        </style>


{% endblock %}
