{% extends "base/home.html" %}
{% block body_block %}
<div class="request">
{% if request %}
<h3>Requests:</h3>
<table>
  <thead>
    <th>name</th>
    <th>email</th>
    <th>phone no</th>
    <th>area</th>
  </thead>
  {% for x in request %}
  <tr>
    <td>{{x.user}}</td>
    <td>{{x}}</td>
    <td>{{x.phone_number}}</td>
    <td>{{x.resident_state}}</td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>No patients found. We will contact you if you have a request</p>
{% endif %}
</div>


<style>
  .request{
    text-align:center;
    position: relative;
    z-index:40;
  }

</style>
{% endblock %}
