{% extends "base/home.html" %}
{% block body_block %}
<div class="search">
{% if matches %}
  <h3>{{Donar}} matches found</h3>
  {% if not r %}
    <p>press request to send your contact info to found Donars</p>
    <form action="{% url 'base:search' %}" method="POST">
      {% csrf_token %}
      <input type="submit" name="" value="request">
    </form>
  {% else %}
    <p>your request is sent to Donars</p>
{% endif %}

{% else %}
<p>no matches found sorry</p>

{% endif %}

</div>


<style>
  .search{
    text-align:center;
    position: relative;
    z-index:40;
  }

</style>
{% endblock %}
