.info-box{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows:auto;
  position: relative;
  z-index:1;
  top:auto;
  width:90%;
  margin-top:200px;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  /* border: 7px solid #f74c4c; */
}


.box1{
  text-align: center;
  padding: 20%;
  border-radius: 25px;
  border: 5px solid #e0414b;


}
.box2{
  text-align: center;
  padding: 20%;
  border-radius: 25px;
  border: 5px solid #e0414b;

}

.box3{
  text-align: center;
  padding: 20%;
  border-radius: 25px;
  border: 5px solid #e0414b;

}

#icon{
  width: 40%;
  height: auto;

}

.box h1{
  font-size: 3em;
}

.box a{
  color: black;
  font-size: 1.5em ;
  text-decoration: none;
  padding: 5px;
}

.box a:hover,.box a:active{
  border: 3px solid #f74c4c;
  border-radius: 10px;
}

.donor{

    position:relative;
    z-index: 1;
    width:90%;
    margin: auto;
    height: auto;
    display: flex;
    padding: 3%;
    border-radius: 20px;
    background-color: white;
    opacity: 0.75;

}
.patient{
    top: 140px;
    position:relative;
    z-index: 1;
    width:90%;
    margin: auto;
    height: auto;
    display: flex;
    padding: 3%;
    border-radius: 20px;
    background-color: white;
    opacity: 0.75;
    margin-bottom: 130px;
}
.q1{

    position:relative;
    z-index: 1;
    width:90%;
    margin: auto;
    height: auto;
    display: flex;
    padding: 3%;
    border-radius: 20px;
    background-color: white;
    opacity: 0.75;
    margin-top: -45px

}
.q2{
    top: 140px;
    position:relative;
    z-index: 1;
    width:90%;
    margin: auto;
    height: auto;
    display: flex;
    padding: 3%;
    border-radius: 20px;
    background-color: white;
    opacity: 0.75;
    margin-top: -45px;
    margin-bottom: 15pc;
}

@media screen and (max-width:768px) {
  .info-box{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto;
    grid-template-rows:1fr 1fr 1fr;
    position: relative;
    z-index:1;
    top:auto;
    width:100%;
    margin-top:200px;
    height: auto;
    /* border: 7px solid #f74c4c; */
  }
}
