.Hero{
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows:auto;
  position: relative;
  z-index:1;
  top:100px;
  width:90%;
  margin:auto;
  /* background-color: rgba(0, 0, 0, 0.3); */
  height: auto;
  border: 7px solid #890b0b;
  border-radius: 25px;

}


.hero-img{
  width: auto;
  height: 400px;
  text-align: center;


}
.hero-img img{
  /* position: relative; */
  width: 90%;
  height: auto;
  margin-top: 10%;
}

.hero-text{
  width:auto;
  height:400px;
  text-align: right;
  padding: 10%;
}

.hero-text h1{

  font-size: 5em;

}
.hero-text h2{
  font-size: 1.5em ;

}
.hero-text a{
  color: black;
  font-size: 1.5em ;
  text-decoration: none;
}

@media screen and (max-width:771px) {
  .Hero{
    display: grid;
    grid-gap: 0px;
    grid-template-columns:auto ;
    grid-template-rows:1fr 1fr;
    position: relative;
    z-index: 1;
    top:100px;
    width:100%;
    margin:auto;
    height:auto;
    border: 7px solid #f74c4c;
    border-radius: 25px;
  }
  .hero-text{
    background-color: black;
    text-align: center;
  }
  .hero-img img{
    margin-top: 20%;
  }
}
.hero-btn{
  padding: 10px;
}
.hero-btn:hover,.hero-btn:active{
  border: 3px solid #890b0b;
  border-radius: 10px;
}
