.Hero{
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows:auto;
  position: relative;
  z-index:1;
  top:100px;
  width:90%;
  margin:auto;
  height: auto;
  /* background-color: rgba(0, 0, 0, 0.3); */
  height: auto;
  border: 7px solid #e0414b;
  border-radius: 25px;

}


.hero-img{
  width: auto;
  height: auto;
  text-align: center;


}
.hero-img img{
  position: relative;
  margin-top: -5%;
}

.hero-text{
  width:auto;
  height:auto;
  text-align: right;
  padding: 10%;
}

.hero-text h5{

  font-size: 5em;

}
.hero-text h2{
  font-size: 1.5em ;

}
.hero-text a{
  color: black;
  font-size: 1.5em ;
  text-decoration: none;
}

@media only screen and (max-width:768px) {
  .Hero{
    display: grid;
    grid-gap: 0px;
    grid-template-columns:auto ;
    grid-template-rows:1fr 1fr;
    /* position: relative; */
    z-index: 1;
    top:100px;
    width:100%;
    margin: 0px;
    height:auto;
    border: 7px solid #e0414b;
    border-radius: 25px;
  }
  .hero-text{
    width:90%;
    margin:auto;
    height:auto;
    text-align: center;
    padding: 0px;
  }
  .hero-text h5{

    font-size: 2.5em;

  }
  .hero-text h2{
    font-size: 0.75em ;

  }
  .hero-text a{
    color: black;
    font-size: 0.75em ;
    text-decoration: none;
  }
  .hero-img img{
    width: 90%;
    margin:auto;
    height:auto;
  }
}
.hero-btn{
  padding: 10px;
}
.hero-btn:hover,.hero-btn:active{
  border: 3px solid #890b0b;
  border-radius: 10px;
}
